ul, li {
	margin: 0px;
	list-style-type: none;
}

input {
	outline: none;
	border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:-ms-input-placeholder { color:transparent; }

/*---------------------------------------------------*/

.bg1 { background-color: #1a1a1a; }

/** Form Container */
.container-md.contact {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: transparent;
}

.wrap-contact {
  max-width: 920px;
  background: transparent;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 40px 30px 40px;
}

.contact-form {
  width: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/** Input wrapper */
.wrap-input {
  width: 100%;
  position: relative;
  border: 1px solid #b9b9b9;
  border-radius: 13px;
  padding: 10px 30px 9px 22px;
  margin-bottom: 20px;
}

/** rs1-wrap-input available if you need two inputs on same row
  .rs1-wrap-input {
    width: calc((100% - 30px) / 2);
  } 
*/

.label-input {
  color: #f9f9f9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 0.7rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
}

/** Input field containers */
.input {
  display: block;
  width: 100%;
  background: #1a1a1a;
  color: #f9f9f9;
  font-size: 1rem;
  line-height: 1.2;
  padding-right: 14px;
}

input.input {
  height: 40px;
}

textarea.input {
  min-height: 120px;
  padding-top: 9px;
  padding-bottom: 13px;
}

.input:focus + .focus-input::before {
  width: 100%;
}

.has-val.input + .focus-input::before {
  width: 100%;
}

/** Submit Button */
.container-contact-form-btn {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.contact-form-btn {
  display: -webkit-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background-color: #1d1d1d;
  color: #f9f9f9;
  border: 1px solid #b9b9b9;
  border-radius: 13px;
  font-size: 1.175rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-form-btn i {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

.contact-form-btn:active {
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  transform: translateY(1px);
  background-color: #181818;
} 

/** Form data validation */
.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  display: -webkit-box;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 40px;
  top: 40px;
  left: 0px;
  padding: 0 45px 0 22px;
  color: #ff6b77;
  pointer-events: none;
  font-size: 0.875rem;
  line-height: 1.2;
}

.btn-hide-validate {
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 35px;
  right: 12px;
  font-size: 0.875rem;
  color: #ff5f6c;
  cursor: pointer;
}

.true-validate::after {
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 35px;
  right: 10px;
  font-size: 1.125rem;
  color: #00b865;
}

/** 
  Dropdown list
*******************************
*/

.select-wrapper {
  width: 100% !important;
}

/** Hide default dropdown arrow */
.select-container select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;
}
.select-container select::-ms-expand {
  display: none;
}

.select-container {
  display: block;
  max-width: 100% !important;
  width: auto !important;
  background-color: #1a1a1a;
  color: #f9f9f9;
}

/** DROPDOWN LIST OPTIONS */

.select-container select {
  position: relative;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2;
  padding-left: 0px;
  top: 12px;
  
}

/** DROPDOWN ARROW */
.arrow {
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  top: 50%;
  right: 0.3rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.arrow::before {
  content: '↓';
  color: #f9f9f9;
}

/** Dropdown List Selections  */
.select-container, .select-container > option {
  width: calc(100% + 2px);
  border: 0px solid transparent;
  border-radius: 8px;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 15;
}

.dropdown--above {top: -38px;}
.dropdown--below {top: 10px;}

option[aria-selected] {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
}

option {
  font-size: 0.875rem;
  font-weight: 600;
  color: #f9f9f9;
  line-height: 1.2;
}

.dropdown {
  width: calc(100% + 2px) !important;
  outline: none;
  font-size: 0.9rem;
  color: #292929;
  line-height: 1.2;
}

.dropdown:active {
  border: 1px solid #5555;
}

/** Media queries */
@media (max-width: 576px) {
  .wrap-contact {
    margin: 0 auto;
    padding: 18px;
    width: 90%;
  }
  .wrap-input {
    padding: 6px 10px 4px 10px;
  }
  .alert-validate::before {
    padding: 0 10px 0 10px;
  }
  .true-validate::after, .btn-hide-validate {
    right: 0px;
    width: 30px;
  }
  .alert-validate::before {
    padding: 0 10px 0 10px;
  }
  .true-validate::after, .btn-hide-validate {
    right: 0px;
    width: 30px;
  }
  .contact-form-btn {
    font-size: 1rem;
  }
  .select-container select {
    font-size: 0.875rem;
  }  
}
