/** 
    PRESERVE ORIGINAL bg color ...
    background-color: #0e0e0e;
    Current Body background color is set to match site-background image's shade of black
**/

body {
    background-color: #070707;
    font-size: calc(0.75em + 1vmin);
    overflow-x: hidden;
}

button {
	outline: none;
	border: none;
	background: transparent;
}

/** Hero Section */
#header-wrapper {
    background-color: rgb(0, 0, 0);
    background: url(./media/background/grey-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logo-container {
    padding: 5rem 0 2.5rem 0;
    background: transparent;
}

#dp-logo {
    filter: drop-shadow(0px 1px 0px #e1e1e1);
    max-width: 66%;
}

@media (max-width: 940px) {
    #logo-container {
        padding: 3.5rem 0 1.25rem 0;
    }
    #dp-logo {
        max-width: 100%;
        padding: 0 1.5rem;
    }
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
    #dp-logo {
        max-width: 80%;
    }
}

/** Hero Section + Anchor Links */
#header-anchor {
    background: transparent;
    cursor: default;
}

.anchors {
    align-items: center;
    line-height: 1.1;
    color: #e1e1e1;
    font-family: 'Balthazar', serif;
    font-weight: 700;
    font-size: 3.6rem;
    text-rendering: optimizeLegibility;
}

.anchors:hover {
    filter: brightness(130%);
}

@media (max-width: 940px) {
    .anchors {
        font-size: 1.4rem;
        line-height: 1.5;
        text-shadow: none;
    }
}

svg.list-item-divider {
    width: 1.4rem;
    height: 100%;
    fill: #f9f9f9;
}

@media (max-width: 940px) {
    svg.list-item-divider {
        width: 0.75rem;
        height: 100%;
    }
}

/** Remove the default link style from <a> elements */
.nav-links, .contact-anchor {
    text-decoration: none;
}

/** Header logo anchor links  */
#nav-list-row {
    margin: 0 auto;
}

.nav.list-group-horizontal {
    background: transparent;
    text-align: center;
    margin: 0 auto;
}

.list-group-item {
    background: transparent;
    border: none;
    outline: none;
}

@media (max-width: 940px) {
    .list-group-item.nav {
        padding: 0 0.3rem;
    }
}

/** Line under header */
#header-underline {
    max-width: 42%;
    height: 40px;
    border-top: 2px solid #f9f9f9;
    -webkit-animation: slideLeft 1.7s ease-in-out;
    -moz-animation: slideLeft 1.7s ease-in-out;
    -o-animation: slideLeft 1.7 ease-in-out;
    animation: slideLeft 1.7s ease-in-out;
    animation-delay: 0.5s;
    opacity: 0.8;
}

@keyframes slideLeft {
    0% {max-width: 0%}
    100% {max-width: 42%}
}

@media (max-width: 940px) {
    #header-underline {
        margin-top: 0.5rem;
        max-width: 90%;
        height: 20px;
        -webkit-animation: slideLeftMOBILE 1.7s ease-in-out;
        -moz-animation: slideLeftMOBILE 1.7s ease-in-out;
        -o-animation: slideLeftMOBILE 1.7s ease-in-out;
        animation: slideLeftMOBILE 1.7s ease-in-out;
        animation-delay: 0.5s;
    }
}

@keyframes slideLeftMOBILE {
    0% {max-width: 0%}
    100% {max-width: 90%}
}

/** Decorative dividing line */
.dividing-line {
    display: inline-block;
    width: 50%;
    padding: 20px 0 0 0;
    margin: 0 auto;
    opacity: 0.6;
}

@media (max-width: 940px) {
    .dividing-line.one {
        width: 85%;
        padding: 0;
        margin-bottom: -1rem;
        margin-top: 0.875rem;
    }
}

/** Section Containers */
#intro, #music, #movies, #art, #call-to-action {
    background: transparent;
}

#intro {
    padding: 40px 0 0 0;
    box-shadow: 0 0 0px black;
}

#music {
    padding: 40px 0 20px 0;
}

#movies {
    padding: 40px 0 40px 0;
}

#call-to-action, #art {
    padding: 0px 0 40px 0;
}

@media (max-width: 940px) {
    #intro {
        padding: 0;
    }
    #music, #art, movies {
        padding: 40px 0 0 0;
    }
    #movies {
        padding: 20px 0 0 0;
    }
    #call-to-action { 
        padding: 20px 0;
    }
}

/** Intro Section */
.lead.bio {  
    align-items: center;
    font-family: 'Martel', serif;
    font-weight: 400;
    font-size: 1.175rem;
    text-align: center;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
    padding: 1rem 2rem;
    color: #f9f9f9;
    cursor: default;
}

@media (max-width: 940px) {
    .lead.bio {
        font-family: 'Martel', serif;
        font-size: 0.875rem;
        line-height: 1.75;
        margin-bottom: 0;
    }
}

#elevate {
    width: 90%;
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 6px 0;
}

@media (max-width: 940px) {
    #elevate {
        font-size: 1.33rem;
        font-weight: 600;
        margin: 0 auto;
        padding: 6px 0;
    }
}

#contact-me {
    font-size: 3.3rem;
    font-weight: 900;
}

@media (max-width: 940px) {
    #contact-me {
        font-size: 1.9rem;
    }
}

#portrait-container {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#spectre {
    max-height: 70%;
    padding: 0;
}

/** Background Image, Begins at Spotify Album Embeds */
.site-background {
    position: relative;
}

.site-background::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(./media/background/site-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.3;
    z-index: -1;   
}

/** Art Image Gallery */
.art-header {
    font-family: 'Martel', serif;
    font-size: 4rem;
    color: #f9f9f9;
    text-align: center;
}

.art-gallery:hover {
    opacity: 0.9;
    border: 1px solid transparent;
    transition-delay: 50ms;
}

.photos {
    padding: 0 1rem;
}

@media (max-width: 940px) {
    .art-header {
        font-size: 2rem;
    }
    .photos {
        padding: 0 2.2rem;
    }
}

/** Youtube Embedded iFrame */
.iframe-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 50%;
}

.youtube-iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 840px;
    max-height: 630px;
    box-shadow: 0 4px 8px 0 rgba(73, 73, 73, 0.15), 0 6px 18px 0 rgba(32, 32, 32, 0.15);
}

@media (max-width: 940px) {
    .youtube-iframe {
        padding: 0 2.2rem;
    }
}

/** Anchor Link to contact form */
p.d-inline-block, .contact-anchor {
    color: #f9f9f9;
    font-family: 'Martel', serif;
    font-weight: 900;
    font-size: 2.3rem;
    text-align: center;
}

@media (max-width: 940px) {
    p.d-inline-block {
        padding: 0 2.2rem;
    }
    p.d-inline-block, .contact-anchor {
        font-size: 1.75rem;
    }
}

.contact-anchor {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}

.contact-anchor:hover {
    color: #fff;
    transform: scaleX(1.2);
}

.pointer-image {
    background: transparent;
    transform: rotateZ(-45deg);
    max-width: 2.25rem;
    margin-top: 1.25rem;
}

/** Page Footer */
footer {
  bottom: 0;
  width: 100%;
  padding: 0;
  background: #151515;
  color: #f9f9f9;
  overflow: hidden;
}

.footer-flex {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    padding: 60px 0;
}

@media (max-width: 940px) {
    .footer-flex {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 40px 0;
    }
}

.social-links {
    text-decoration: none;
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding: 2em;     
    margin: -2em; 
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 0.5s ease;
}

.social-links:hover {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.copyright {
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
    overflow: hidden;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    top: 33%;
}

@media (max-width: 940px) {
    .copyright {
        position: initial;
        padding: 1.5rem 0 0 0;
        font-size: 1.25rem;
    }
}

.list-group-item.footer {
    padding: 0 1.4rem;
}

.footer-logo {
    width: 2rem;
}

@media (max-width: 940px) {
    .footer-logo {
        width: 1.675rem;
    }
}
