body {
    background-color: #292929;
    font-size: calc(0.75em + 1vmin);
    overflow-x: hidden;
}

/** hamburger icon for navbar toggling */
.navbar-toggler {
    color: #f8f8f8;
}

#header-wrapper {
    background: #5f5f5f;
    background-image: url('./media/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/** Davey png header logo container / img */
#logo-container {
    padding: 5rem 0 1.5rem 0;
    background: transparent;
}

#dp-logo {
    max-width: 60%;
}

@media (max-width: 960px) {
    #dp-logo {
        max-width: 90%;
    }
}

/** header subtext container */
#header-sub {
    background: transparent;
}

/** header logo's subtext 'music-movies-art' */
.logo-subtext {
    display: flex;
    align-items: center;
    line-height: 1.25;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #f8f8f8;
}

@media (max-width: 960px) {
    .logo-subtext {
        font-size: 1.1rem;
        line-height: 1.5;
    }
}

/** header logo subtext horizontal ul */
#list-row {
    margin: 0 auto;
}

.list-group-horizontal {
    background: transparent;
    text-align: center;
    margin: 0 auto;
}

.list-group-item {
    background: transparent;
    border: none;
    outline: none;
}

@media (max-width: 960px) {
    .list-group-item {
        padding: 0 0.5rem;
    }
}

svg#disc-icon , svg#disc-icon2 {
    width: calc(0.75em + 1vmin);
    color: #f8f8f8;
}

/** black underline bottom of header */
#header-underline {
    max-width: 60%;
    height: 40px;
    border-top: 4px solid #222;
}

@media (max-width: 960px) {
    #header-underline {
        margin-top: 0.5rem;
        max-width: 80%;
    }
}

/** intro / bio section */
#intro {
    padding: 60px 0;
    background-color: #292929;
}

#bio {
    color: #f8f8f8;
    border: 2px solid yellow;
}

.lead.bio {  
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    padding: 1rem 2rem;
    color: #f8f8f8;
}
@media (max-width: 960px) {
    .lead.bio {
        font-size: 1rem;
        line-height: 1.75;

        margin-bottom: 0;
    }
}

p.lead.bio:last-child {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.33rem;
}

#portrait-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ff3a4a;
}

#spectre {
    max-height: 70%;
    padding: 0;
}

.cd-img {
    width: 60px;
}